    
@font-face{
    font-family: 'myfont';
    src: url('../fonts/YuseiMagic-Regular.ttf');
}   
body{
    font-family: 'myfont';
    background-color: #fff;
    color: #111;
    margin: 0px;
}
section{
    position: relative;
    width: 100%;
    height: 16vh;
    background: #111;
    overflow: hidden;
}
section .wave{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: url("../images/wave.png");
    background-size: 1300px 80px;
}
section .wave.wave1 {
    animation: animate 5s  linear infinite;
    z-index: 1000;
    opacity: 1;
    animation-delay: 0s;
}
section .wave.wave2 {
    animation: animate2 10s  linear infinite;
    z-index: 999;
    opacity: 0.5;
    animation-delay: -5s;
    bottom: 10px;
}
section .wave.wave3 {
    animation: animate 15s  linear infinite;
    z-index: 998;
    opacity: 0.2;
    animation-delay: -10s;
    bottom: 15;
}
@keyframes animate{
    0%{
        background-position-x: 0;
    }
    100%{
        background-position-x: 1000px;
    }
}
@keyframes animate2{
    0%{
        background-position-x: 1000px;
    }
    100%{
        background-position-x: 0;
    }
}
.navlist{
    width: 100%;
    list-style: none;
    display: flex;
    position: relative;
    right: 0;
    top: 10px;
    flex-direction: row;
    justify-content: space-evenly;
    color: #fff;
    background: #111;
}   
.navitem{
    padding-top: 10px;
    color: #fff;
    cursor: pointer;
}
.imgsocial{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0 auto;
    width: 201px;
    font-size: 40px;
}
.imgsocial a{
    color: #545b62;
}
.navitem a{
    color: #fff;
    text-decoration: none;
}
.navitem a:hover{
    color:#1cf1f1;
    text-decoration: none;
}
.navitem a:active{
    color:#1cf1f1;
    text-decoration: none;
}
.wave{
    position: relative;
    bottom: 0;
    left: 0;
    height: 100px;
    background:url("../images/wave.png")
}
.bar1, .bar2, .bar3 {
    width: 40px;
    height: 6px;
    background-color: #fff;
    margin: 7px 0;
    transition: 0.4s;
  }
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-12px, 9px);
    transform: rotate(-45deg) translate(-12px, 9px);
  }
  .change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-9px, -6px);
}
/*Typing effect*/
.typewriter{
    font-size: 40px;
  }
  #profileImg{
    background-image: url("../images/profilepic.jpg");
  }
  .aboutText{
    background: #111;
    color: #eee;
    border-radius: 20px;
    padding: 50px;
  }
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  @keyframes typing2 {
    from { width: 0 }
    to { width: 75% }
  }
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #eee; }
  }
  #contactme,#aboutme{
      background: #fff;
      height: 190vh;
    text-align: center;
  }
  @media (min-device-width: 768px) {
      #navbar{
          /* width: 1150px; */
          height: 16vh;
      }
      #sectionContainer{
        display:grid;
        grid-template-columns: 35% 65%;
      }
      section .wave{
          height: 50px;
      }
      #shortMenu{
          display: none;
      }
      #menuIconList{
        display: none;
    }
  }

  @media screen and (max-device-width : 768px) and (min-device-width: 426px) {
    #shortMenu{
        display: none;
    }
    #menuIconList{
        display: none;
    }
  }
  @media screen and (max-device-width :425px) {
      #sectionContainer{
        display:grid;
        grid-template-columns: 100%;
      }
    #navbar{
        /* width: 1150px; */
        height: 10vh;
    }
    .imgClass{
        display: flex;
    flex-direction: row;
    justify-content: space-between;
    }
    ul#menuList{
        display: none;
    }
    img[width]{
        width: 450;
    }
    #menuIconList{
        display: flex;
    flex-direction: column;
    /* font-size: 40px; */
    width: 220px;
    position: fixed;
    right: 20;
    text-align: center;
    justify-content: flex-start;
    top: 230px;
    box-shadow: 0px 1px 3px 3px #eee;
    border-radius: 9px;
    display: none;
    background: #fff;
    }
    #menuIconList::before{
        content: '';
        position: absolute;
        top: -27;
        left: 0;
        right: 0;
        bottom: 100%;
        /* margin: 0 auto; */
        margin-left: 170px;
        width: 0;
        height: 0;
        border-bottom: solid 25px #eee;
        border-left: solid 25px transparent;
        border-right: solid 25px transparent;
    }
    #menuIconList > a{
        margin: 10px;
        color: #111;
        padding: 10px;
        font-size: 26px;
    }
  }