    
@font-face{
    font-family: 'myfont';
    src: url('../fonts/YuseiMagic-Regular.ttf');
}   
body{
    font-family: 'myfont';
    background-color: #eee;
    color: #111;
    margin: 0px;
}
section{
    position: relative;
    width: 100%;
    height: 23vh;
    background: #111;
    overflow: hidden;
}
section .wave{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: url("../images/wave.png");
    background-size: 1300px 80px;
}
section .wave.wave1 {
    animation: animate 5s  linear infinite;
    z-index: 1000;
    opacity: 1;
    animation-delay: 0s;
}
section .wave.wave2 {
    animation: animate2 10s  linear infinite;
    z-index: 999;
    opacity: 0.5;
    animation-delay: -5s;
    bottom: 10px;
}
section .wave.wave3 {
    animation: animate 15s  linear infinite;
    z-index: 998;
    opacity: 0.2;
    animation-delay: -10s;
    bottom: 15;
}
@keyframes animate{
    0%{
        background-position-x: 0;
    }
    100%{
        background-position-x: 1000px;
    }
}
@keyframes animate2{
    0%{
        background-position-x: 1000px;
    }
    100%{
        background-position-x: 0;
    }
}
.navlist{
    width: 100%;
    list-style: none;
    display: flex;
    position: relative;
    right: 0;
    top: 10px;
    flex-direction: row;
    justify-content: space-evenly;
    color: #fff;
    background: #111;
}   
.navitem{
    padding-top: 10px;
    color: #fff;
    cursor: pointer;
}
.imgsocial{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0 auto;
    width: 201px;
    font-size: 40px;
    position: absolute;
    left: 100px;
    bottom: 95px;
}
.imgsocial a{
    color: #fff;
}
.navitem a{
    color: #fff;
    text-decoration: none;
}
.navitem a:hover{
    color:#1cf1f1;
    text-decoration: none;
}
.navitem a:active{
    color:#1cf1f1;
    text-decoration: none;
}
.wave{
    position: relative;
    bottom: 0;
    left: 0;
    height: 100px;
    background:url("../images/wave.png")
}
/*Typing effect*/
.typewriter p#p1{
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid #eee; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 8s steps(40, end),
      blink-caret 1s step-end infinite;
  }
  .typewriter p#p2 {
    font-size: 20px;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid #eee; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 8s steps(40, end) 8s,blink-caret 1s step-end infinite;
  }

  
  @keyframes typing {
    from { width: 0 }
    to { width: 75% }
  }
  @keyframes typing2 {
    from { width: 0 }
    to { width: 75% }
  }
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #eee; }
  }
  #contactme,#aboutme{
      background: #fff;
      height: 190vh;
    text-align: center;
  }